.trending-container {
    width: 75%;
    margin: auto;
    text-align: center;
  }
  .trending-container h2 {
    margin-top: 7vw;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
  }
  
  .slider-wrapper {
    margin-top: 5rem;
  }

  .slick-slide > div {
    margin: 0 8px;
  }
  
  .trend-item {
    background-color: white;
    height: 150px;
    color: black;
    border-radius: 0.75rem;
  }
  
  .trend-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  
  .trend-title {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .trend-type {
    color: lightblue;
  }
  
  .half-arrow-button {
    background: none; /* Ensure no background */
    border: none; /* Ensure no border */
    padding: 0; /* Remove padding */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .half-arrow-button img {
    width: 30px;
    height: auto;
  }
  
  @media (max-width: 480px) {
    .trending-container h2 {
    margin-top: 10vw;
  }
  }