.hero-content {
    padding-top: 30vh;
    padding-left: 2vw;
}

.hero-content .text1 {
    font-size: 1.5vw;
    line-height: 6vh;
}

.hero-content .text2 {
    font-size: 4vw;
    line-height: 6vh;
}


.listen-btn {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    gap: 2vw;
    border: 2px solid;
    border-right: none;
    border-color: white;
    width: fit-content;
    margin-bottom: 30vh;
}

.listen-btn p {
    font-size: 2vw;
}

.listen-btn img {
width: 3vw;
height: auto;
filter: invert(27%) sepia(75%) saturate(3988%) hue-rotate(183deg) brightness(103%) contrast(102%);
}