/* Home.css */
.home-container {
    background-image: url('../../../assets/background_home/photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This makes the background fixed */
    background-position: center center;
  }
  
  .content-container {
    position: relative;
    z-index: 1;
    padding: 20px; /* Add padding to ensure content is not flush with the edges */
  }
  
  .full-height {
    min-height: 100vh;
  }
  