.publication-scroll-container {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.publication-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.background-image {
  position: relative;
  flex: 0 0 50%; /* Each image takes up 50% of the container width */
  height: 60vw;
  background-size: cover;
  background-position: center;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2vw;
  text-align: left;
}

.overlay-text .text-top {
  color: darkgrey;
}

.overlay-text .text-topic {
  font-size: 4vw;
}

.overlay-text .view-btn {
  display: flex;
  align-items: center;
  gap: 2vw;
  border: 2px solid;
  width: fit-content;
  margin-top: 4vw;
}

.overlay-text .view-btn img {
  width: 3vw;
  height: auto;
  filter: invert(1) brightness(2);
}

@media (max-width: 480px) {
  .overlay-text .text-top {
    font-weight: bold;
    font-size: 4vw;
  }

  .overlay-text .text-topic {
    font-size: 7vw;
  }

  .image2 .overlay-text .text-topic {
    font-size: 6vw;
  }

  .overlay-text .view-btn {
    font-size: 4vw;
  }

  .overlay-text .view-btn img {
    width: 4vw;
    filter: invert(1) brightness(2);
  }
}
