.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .footer-left {
    display: flex;
    flex-direction: column;
  }
  
  .logo-footer img {
    width: 20vw;
  }
  
  .subscribe .sub-scribe {
    color: aqua;
    font-size: 2vw;
    padding-top: 2vw;
  }
  
  .subscribe input[type="email"] {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
  }
  
  .subscribe .in-put {
    border: 2px solid;
  }
  
  .subscribe button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .separator {
    border-left: 2px solid #ccc;
    height: 13vw; /* Adjust height as needed */
    margin: 0 20px;
    margin-left: 20vw;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
  }
  
  .text-links {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    padding-top: 3vw;
    padding-bottom: 6vw;
  }
  
  .text-links a {
    color: #333;
    text-decoration: none;
  }
  
  .social-icons {
    display: flex; /* Hide social icons by default */
    margin-left: 20vw;
  }
  .social-icons-small {
    display: none;
  }
  
  .social-icons.mobile {
    display: flex;
    justify-content: center; /* Center align on small screens */
    position: absolute; /* Position the icons absolutely */
    bottom: 20px; /* Adjust as needed for spacing from the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    margin-top: 20px; /* Add margin to separate from above content */
  }
  
  .social-icons a {
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 30px; /* Adjust size of social icons */
    height: 30px;
  }

  .separator1 {
    
  }
  
  @media (max-width: 480px) {
    .logo-footer img {
        width: 30vw;
      }

    .subscribe {
        margin-top: 10vw;
    }

    .subscribe .sub-scribe {
      font-size: 4.5vw;
      padding-top: 4vw;
    }
    
    .subscribe .message {
      font-size: 3vw;
    }
    
    .separator {
      height: 48vw; /* Adjust height as needed */
      margin: 0 20px;
    }
    
    .text-links {
      flex-direction: column;
    }
    
    .social-icons {
      display: none; /* Display social icons on small screens */
    }

    .social-icons-small img {
        width: 30px; /* Adjust size of social icons */
        height: 30px;
      }

    .social-icons-small {
        display: flex;
        position: absolute;
        left: 35vw;
        padding-top: 50vw;
    }
  }
  