.thoughts-container {
    background-color: white;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .topic-header {
    color: lightgray;
    font-size: 5vw;
    margin-bottom: 10px;
  }
  
  .subtext {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .image-left {
    position: relative;
    flex: 2; /* Take up more space */
  }
  
  .image-right {
    position: relative;
    flex: 1; /* Take up less space */
  }
  
  .image-left img{
    width: 100%;
    height: auto;
  }
  
  .image-right img {
    width: 30vw;
    height: 15vw; /* Adjust this value to make the right image shorter */
  }
  
  .overlay-text { 
    transform: translate(-100);
    color: white;
  }
  
  .additional-text {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }
  
  .text1 {}
  
  .text2 {}

  .text-below1 {}
  
  .text-below2 {}