.thoughts-container {
    background-color: white;
    padding: 20px;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .topic-header {
    color: lightgray;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .subtext {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .image-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px; /* Add a small gap between the images */
  }
  
  .image-left, .image-right {
    position: relative;
    flex: 1;
  }
  
  .image-left img {
    width: 100%;
    height: auto;
  }
  
  .image-right img {
    height: 15vw; /* Adjust this value to make the right image shorter */
  }
  
  .overlay-text {
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
  }
  
  .additional-text {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }
  