.active {
    border-bottom: 2px solid rgba(36, 30, 184, 0.5);
    background-color: transparent; /* Remove background color */
    border-radius: 0; /* Remove border radius */
}

.logo-img {
    width: 100px; /* Adjust width of the logo */
    height: auto; /* Maintain aspect ratio */
}

.logo {
    margin: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure nav stays on top */
    background-color: transparent; /* Ensure no background color */
}

nav ul {
    display: flex;
    align-items: center;
    font-size: 18px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

nav ul li a:not(.active):hover {
    background-color: transparent;
    border-bottom: 2px solid rgba(36, 30, 184, 0.5);
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: bisque;
    border-radius: 0.2rem;
}

@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
        margin: 0; /* Adjust margins for mobile view */
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}
